{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block content %}


  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="/uploads/users/image/{{app.user.imageUser}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ app.user.name}}</h5>
              {% if app.user.isManager() %}
                  <p class="text-muted mb-4 font-weight-bold">Manage</p>
                  {% elseif ( app.user.isManager() == false) %}
                  <p class="text-muted mb-4 font-weight-bold">Installateur</p>
              {% endif %}
            <div class="d-flex justify-content-center mb-2">
              <a href="{{ path('app_profile_password') }}" class="btn btn-primary">Modifier votre mot de passe</a>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nom et prénom</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ app.user.name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ app.user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Téléphone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ app.user.telephone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ville</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ app.user.ville}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
