{% extends 'base.html.twig' %}
{% block title %}Les Demandes{% endblock %}
{% block content %}

<div class="container">
  {% for notice in app.flashes('notice') %}
      <div class="alert alert-info"> {{ notice }}</div>
  {% endfor %}

                        {% set nb_role = app.user.getRoles()|length %}
                        {% if (app.user.isUser()) and (nb_role < 2) %}
                           <!-- Search -->
                            {{ form_start(formSearchAll) }}
                           <div class="input-group rounded">
                            {{ form_row(formSearchAll.stringSearchAll)}}
                            <span class="border-0" id="search-addon">
                                {{ form_row(formSearchAll.Submit)}}   
                            </span>
                            </div>
                                {{ form_end(formSearchAll) }}
                          {% endif %}

 <div class="row" >
    <div class="col-sm-8">
    <h1 class="h3 fs-4"  style="color: #040f39; font-weight: 500;">Les Demandes</h1>
    </div>
     {% if app.user.isManager() %}


                    <div class="nav-item dropdown no-arrow col-sm-2">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuExport" role="button" data-bs-toggle="dropdown" 
                          aria-expanded="false"> 
                         <span class="mr-2 d-none d-lg-inline text-black small">
                       <i class="fas fa-download"></i>
                         Exporter la vue</span></a>
                               <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="navbarDropdownMenuExport">
                                <a class="dropdown-item" href="{{ path('app_export_csv') }}">
                                    <i class="fa-solid fa-file-csv fa-sm fa-fw mr-2 text-gray-400"></i>
                                    CSV
                                </a>
                                <a class="dropdown-item" href="{{ path('app_export_excel') }}">
                                    <i class="fa-solid fa-file-excel fa-sm fa-fw mr-2 text-gray-400"></i>
                                     Excel 
                                </a>
                          </div>
                        </div>

    <div class="col-sm-2">
                         <!-- Nav Item - Filtrer -->
                        <div class="dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLinkFiltrer" data-bs-toggle="dropdown" aria-expanded="false">
                          <div class="nav-item text-end title-filtrer">
                            <i class="fa-solid fa-sliders"></i>
                            <span>Filtrer</span>
                          </div>
                        </a>
                        <ul class="dropdown-menu ul-filtrer" aria-labelledby="dropdownMenuLinkFiltrer">
                            <h3 class="h3-filtrer">Filtrer</h3>
                            {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-12">
                                            {{ form_row(form.string)}}
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col-sm">
                                        {{ form_row(form.ville)}}
                                    </div>
                                    <div class="col-sm">
                                        {{ form_row(form.typeAppareil)}}
                                    </div>
                                    <div class="col-sm">
                                        {{ form_row(form.statut)}}
                                    </div>
                                </div>
                                 <div class="row">
                                        <div class="col-6">
                                            {{ form_row(form.datefrom)}}
                                        </div>
                                        <div class="col-6">
                                            {{ form_row(form.dateto)}}
                                        </div>
                                 </div>
                                   <div class="row">
                                        <div class="col-12">
                                            {{ form_row(form.selectDate)}}
                                        </div>
                                 </div>
                            {{ form_end(form) }} 
                        </ul>
                        </div>
                    </div>
                      {% endif %}
</div>


<div class="row justify-content-center mt-4">
<div class="col-12">
<div class="card shadow mb-4">
<div class="table-responsive bg-white">
    <table class="table mb-0">
        <thead class="thead-d">
            <tr>
                <th class="styleTitleList">N° demande</th>
                <th class="styleTitleList">Nom Client</th>
                <th class="styleTitleList">Adresse</th>
                <th class="styleTitleList">Ville</th>
                <th class="styleTitleList">Code Postal</th>
                <th class="styleTitleList">Email</th>
                <th class="styleTitleList">Téléphone </th>
                <th class="styleTitleList">Date installation</th>
                <th class="styleTitleList">Type Appareil</th>
                <th class="styleTitleList">Nbr Appareil</th>
                <th class="styleTitleList">Statut</th>
                <th class="styleTitleList">Description</th>
                <th class="styleTitleList">Date création</th>
                <th class="styleTitleList">Actions</th>
            </tr>
        </thead>
        <tbody class="tbody-d">
        {% for demande in demandes %}
            <tr class="styletd">
                <td>{{ demande.id }}</td>
                <td>{{ demande.nomClient }}</td>
                <td>{{ demande.adresse }}</td>
                <td>{{ demande.ville }}</td>
                <td>{{ demande.codePostal }}</td>
                <td>{{ demande.email }}</td>
                <td>{{ demande.telephone }}</td>
                <td>{{ demande.dateDisponibilite ? demande.dateDisponibilite|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande.TypeAppareil }}</td>
                <td>{{ demande.nbrAppareil }}</td>
                <td>{{ demande.statut }}</td>
                <td>{{ demande.description |raw }}</td>
                <td>{{ demande.createdAt ? demande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_demande_show_statut', {'id': demande.id}) }}"><i class="fa-solid fa-eye"></i></a>
                        {% if app.user.isManager() %}
                    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}"><i class="fa-solid fa-pen"></i></a>
                        {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    </div>
</div>
</div>  

{% endblock %}
