{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block content %}
   
   
    
   {# <a href="{{ path('app_demande_index') }}">back to list</a>
    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}">edit</a>
    {{ include('demande/_delete_form.html.twig') }} #}

    <section >
    <div class="container py-2">
     <h1>Demande N°{{ demande.id }}</h1>
     <div class="row mt-4">
        <div class="col-sm-8 col-md-8">
        <div class="dataTables_length" id="dataTable_length"><label><span class="colortitle">Statut</span>

            {{ include('demande/_changestatut.html.twig') }}
      
        </label>
        </div>
        </div>
          <div class="col-sm-4 col-md-4">
            <div id="dataTable_filter" class="dataTables_filter">
                <label><span class="colortitle">Créé</span><p class="text-muted mb-0" style="font-size: 12px;">{{ demande.dateDisponibilite ? demande.dateDisponibilite|date('Y-m-d H:i:s') : '' }}</p>
                </label>
            </div>
            </div>
        </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 styleTitleList">Nom Client</p>
              </div>
              <div class="col-sm-9 styletd">
                <p class="text-muted mb-0">{{ demande.nomClient }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 styleTitleList">Adresse</p>
              </div>
              <div class="col-sm-9 styletd">
                <p class="text-muted mb-0">{{ demande.adresse }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 styleTitleList">Ville</p>
              </div>
              <div class="col-sm-9 styletd">
                <p class="text-muted mb-0">{{ demande.ville }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 styleTitleList">Code Postal</p>
              </div>
              <div class="col-sm-9 styletd">
                <p class="text-muted mb-0">{{ demande.codePostal }}</p>
              </div>
            </div>
              <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 styleTitleList">Email</p>
              </div>
              <div class="col-sm-9 styletd">
                <p class="text-muted mb-0">{{ demande.email }}</p>
              </div>
            </div>
              <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 styleTitleList">Téléphone</p>
              </div>
              <div class="col-sm-9 styletd">
                <p class="text-muted mb-0">{{ demande.telephone }}</p>
              </div>
            </div>
              <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 styleTitleList">Date installation</p>
              </div>
              <div class="col-sm-9 styletd">
                <p class="text-muted mb-0">{{ demande.dateDisponibilite ? demande.dateDisponibilite|date('Y-m-d H:i:s') : '' }}</p>
              </div>
            </div>
              <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 styleTitleList">Nbr Appareil</p>
              </div>
              <div class="col-sm-9 styletd">
                <p class="text-muted mb-0">{{ demande.nbrAppareil }}</p>
              </div>
            </div>
                 <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 styleTitleList">Description</p>
              </div>
              <div class="col-sm-9 styletd">
                <p class="text-muted mb-0">{{ demande.description |raw}}</p>
              </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
